# setup.py things
/build
/dist
/MANIFEST
**/*.egg-info*
**/__pycache__

# ipython files
**/.ipynb_checkpoints

# Text editor stuff
.vscode/

# Data files
*.root
*.raw
*.csv
*.pkl

# Output files
*.html
/uits3_krakow22/notebooks/plots/